@import '../../colorsVariables.scss';

.Layout {
  width: 100%;
  min-height: 100vh;

  .mainLayout {
    width: 100%;
    z-index: 2;
    min-height: 100vh;
    background: $white-color;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .moveLeft {
    transform: translateX(-260px) translatez(0);
  }
}
