.whyNK {
    font-family: sofia-pro;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.6em;
    color: rgba(26,26,26,.7);
    h1 {
        font-weight: 400;
        font-style: normal;
        font-size: 32px;
        letter-spacing: 0px;
        text-transform: none;
        line-height: 1.2em;
        text-align: center;
    }

    h2 {
        font-weight: 400;
        font-style: normal;
        font-size: 25px;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 1.2em;
        color: #4a4a4a;
        margin: 1em 0 0.5em;
        margin-top: 0;
    }

    p {
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0px;
        line-height: 1.6em;
        color: rgba(26, 26, 26, .7);
    }
    .twoP{
        margin-bottom: 0;
    }
}

.succsess {
    display: flex;

    .imgBlock,
    .succsess_textBlock {
        padding: 17px;
        width: 50%;
    }
}
.imgBlock{
    img{
        width: 100%;
        
    }
}

