//colors
$title-color: #333;

// font-sizes
$title-fontSize: 22px;
$label-fontSize: 12px;
$checkBoxs_title-fs: 18px;
$cusstomField-fs: 18px;

// backgraunds
$inner-bg: rgba(0, 0, 0, 0.384);
$closeBlock-bg: #333333;