 .ourTeamBlock {
     color: rgba(26, 26, 26, .7);
     width: 100%;

     h2 {
         font-family: sofia-pro;
         font-weight: 400;
         font-style: normal;
         font-size: 25px;
         letter-spacing: 2px;
         text-transform: uppercase;
         line-height: 1.2em;
         text-align: center;
     }



 }

 .wrapper {
     display: flex;
     justify-content: center;
     width: 100%;
     @media (max-width: 810px) {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

 }

 .personBlock {
     width: 300px;
     padding: 17px;
     display: flex;
     flex-direction: column;

     p {
         margin-top: 0;
         font-size: .875em;
         line-height: 1.25em;

     }

     .personInfo {
         font-style: italic;
         padding: 34px 0 0;

         p {
             font-size: 18px;
             letter-spacing: 0px;
             line-height: 1.6em;
             word-wrap: break-word;
             color: rgba(26, 26, 26, .7);
         }
     }

     .imgBlock {

         img {
             width: 100%;
         }
     }

 }