@import '../../assets//formVars.scss';
@import '../../assets//formMixins.scss';


form {
    margin-top: 55px;

    .req {
        color: red;
    }
}

.namesTitle {
    display: flex;
    gap: 5px;
    padding-bottom: 5px;
}

.namestext {
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0px;
    color: #222;

}


.fieldsBlock {
    display: flex;
    gap: 10px;

    @media (max-width: 450px) {
        flex-direction: column;
    }

    input {
        @include stylesInput;
    }

    label {
        font-size: $label-fontSize;
    }




}

.cusstomFieldBlock {
    font-size: $cusstomField-fs;
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    gap: 3px;

    input {
        @include stylesInput;
    }

    .activeError {
        background-color: #ffeae8;
        border: 1px solid #ce2c30;
    }

    textarea {
        @include textAreaStyles;
    }
}

.checkBoxs_title {
    font-size: $checkBoxs_title-fs;
    margin-bottom: 18px;
}

.checkbox_section {
    display: flex;
    flex-direction: column;
}

.checkBoxs_content {
    display: flex;
    flex-direction: column;
}

.checks {
    align-items: center;
    display: inline-flex;
    column-gap: 6px;
    text-rendering: optimizelegibility;
    font-size: 13px;
    @include checkBoxStyles;
    label {
        cursor: pointer;
    }
}


.btnSubmit {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

#submitBtn {
    @include submitFormstyles;
}

.error {
   @include errorStyles;
}